<!DOCTYPE html>
<html>
<head>
    <title>JSON Form</title>
    <link rel="stylesheet" href="css/home.css"> 
</head>
<body>
    <form action="/submit" method="post" class="json-form">
        <textarea name="json_input" rows="10" cols="50" required></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
