.json-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.json-form textarea {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
}

.json-form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.json-form input[type="submit"]:hover {
    background-color: #0056b3;
    color:black;
}

